/* styles/Navbar.module.css */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e76930; /* Adjust to match campaign colors */
  color: #fff;
  padding: 1rem;
}

.candidateInfo {
  display: flex;
  align-items: baseline;
}

.candidateName {
  font-size: 2rem;
  font-weight: bold;
}

.candidateNumber {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.slogan {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-style: italic;
}
